/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap');

/* Variables */
:root {
  --blue: #8ecae6;
  --teal: #219ebc;
  --darkblue: #023047;
  --yellow: #ffb703;
  --lavender: #CAC6E0;
  --pink: #e9a9cc;
  --white: #fff;
}


* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Cursor */
  cursor: url("/images/star-cursor.svg") 12 12, auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Scroll Bar */
::-webkit-scrollbar {
  width: 0.6em;
}
::-webkit-scrollbar-track {
  background: var(--darkblue);
}
::-webkit-scrollbar-thumb {
  background: var(--yellow);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--teal);
}

/* Navbar */
.navLink{
  color: var(--darkblue);
  font-size: 1.1em;
}

.navLink:hover{
  color: var(--yellow);
}

/* Banner Animation */
.sentence{
  font-size: 2em;
  font-family: 'Merriweather', serif;
  font-weight: 900;
  color: var(--white);
}
.input-cursor {
  display: inline-block;
  width: 2px;
  height: 2em;
  background-color: var(--white);
  margin-left: 8px;
  animation: blink .6s linear infinite alternate;
}

@keyframes blink {
  0% {opacity: 1;}
  40% {opacity: 1;}
  60% {opacity: 0;}
  100% {opacity: 0;}
}
