body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  background-image: url('/images/pexels-timelockz-4497038.jpg');
  background-size: cover;
  margin-bottom: 9%;
}

.box {
  max-height: 100%;
  padding: 10%;
  margin: auto;
}

.navbar {
  background-color: rgba(0, 0, 17, 0.84);
  color: white;
  padding: 3%;
}

#footer {
  background-color: rgb(0, 0, 17, 0.84);
  color: #B5FFE9;
  bottom: 0;

}

.nav-link {
  color: #B5FFE9;
}

#center{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* card size */
.card {
  max-width: 25%;
  padding: auto;

}
/* box size */
#box-size{
  max-width: 75%;
  min-width: 70%;
}



/* Wiggle Animation */
.wiggle {
  animation: wiggle 1.5s infinite;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }

  80% {
    transform: rotate(0deg);
  }

  85% {
    transform: rotate(5deg);
  }

  95% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

/* Flickering Animation */
@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

.animate-flicker {
  -webkit-animation: flickerAnimation 2s infinite;
  -moz-animation: flickerAnimation 2s infinite;
  -o-animation: flickerAnimation 2s infinite;
  animation: flickerAnimation 2s infinite;
  padding: 0;
  margin: 0;
}

/* Contact Form */
form {
  background-color: rgba(0, 0, 17, 0.94);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  color: #B5FFE9;
}

label {
  display: block;
  margin-bottom: 10px;
}

input, textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #3a1565;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 6px;
  float: right;
  cursor: pointer;
}